%% -*- erlang -*-
{erl_opts, [debug_info]}.

{profiles, [{docs, [{deps, [{edown, "0.8.1"}]},
                    {edoc_opts, [{doclet, edown_doclet},
                                 {app_default, "http://www.erlang.org/doc/man"},
                                 {doc_path, []},
                                 {branch, "master"},
                                 {top_level_readme,
                                  {"./README.md","https://github.com/uwiger/mutex","master"}}]}
                   ]}
           ]}.
